.menu{
    &__container {
        position: absolute;
        top: 25px;
        left: 5px;
        & > ul {
            & > li {
                & > span {
                    display: flex;
                }
            }
        }
    }
    
}
