.menu{
    &__container {
        position: absolute;
        top: 25px;
        left: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 100;
        & > ul {
            & > li {
                & > span {
                    display: flex;
                }
            }
        }
    }

}
