.droparea{
  &__container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    align-items: center;
    box-sizing: border-box;
    width: 1144px;
    padding: 10px;
    margin: 0 0 26px 0;
    background-color: rgb(240, 243, 249);
    border-radius: 18px;
    border: 1px solid #e3e9f6;
  }
}

.input{
  &__container{
    margin: 0 0 6px 0;
  }
}