.table {
    &__container {
        width: 1144px;
        margin: 30px 112px;
        border-collapse: collapse;
    }
    &__head, &__body {
        width: 100%;
    }
  }

  tr {
    margin: 0 0 10px 0;
  }

  tbody {
    tr {
      border: 5px solid red !important;
      border-radius: 10px !important;
    }
  }
  
  th, td {
    border: none;
    padding: 8px;
  }
  
  
