.table {
  &__container {
    width: 1144px;
    margin: 30px 114px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .ant-table-thead {
      border-bottom: none;
      background-color: white;
      tr {
        border-bottom: none;
        th {
          background-color: white;
          border-bottom: none;
          padding: 0 10px !important;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    .ant-table-tbody {
      margin: -10px 0 0 0;
      & > tr {
        & > td {
          box-sizing: border-box !important;
          border-bottom: none;
          padding: 10px;
        }
      }
    }
  }
  &__row {
    &__custom {
      border-radius: 18px;
      background-color: white;
      &:hover {
        background-color: rgb(240, 243, 249) !important;
        & > td {
          background-color: rgb(240, 243, 249) !important;
        }
      }
      & > td {
        margin: 5px 0;
        border: 1px solid #e3e9f6 !important;
        border-right: none !important;
        border-left: none !important;
      }
      & > td:first-child {
        border: 1px solid #e3e9f6 !important;
        border-right: none !important;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
      }
      & > td:last-child {
        border: 1px solid #e3e9f6 !important;
        border-left: none !important;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
      }
    }
  }
}

.ant-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  & table {
    border-spacing: 0 10px;
  }
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}

.custom-resizable-handle {
  background: #e3e9f6;       
  width: 1px;              
  height: 60%;
  cursor: col-resize;
  position: absolute;
  top: 7px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.ant-table-measure-row {
  display: none;
}

.ant-pagination, .ant-table-pagination, .ant-table-pagination-center {
  margin: 5px 0 !important;
}

.button__exchange {
  display: flex;
  justify-content: center;
  margin: 0;
}

.ant-table-row-expand-icon-cell {
  width: 18px !important;
  padding: 0 !important;
  border: none;
  overflow: hidden !important;
}

.ant-table-expanded-row {
  margin-top: -10px !important;
  border-radius: 18px;
  background-color: rgb(240, 243, 249) !important;
  & > .ant-table-cell{
    padding: 0 !important;
    margin-top: -10px !important;
  }
}

.ant{
  &-spin{
    &-container{
      & > .ant-table {
        margin: 0 !important;
      }
      & .ant-table-content {
        & table {
          border-radius: 18px;
        }
      }
    }
    &-nested{
      &-loading{
        margin: 0 10px;
      }
    }
  }
}