.button {
  &__container {
    & > button {
      display: flex !important;
      align-items: center !important;
      padding: 5px 0;
      line-height: 1.3 !important;
      border-radius: 6px !important;
      background-color: rgba(8, 31, 73, 1);
    }
  }
}
