.droparea{
  &__item{
      min-width: 179px;
      min-height: 30px;
      background-color: white;
      border: 1px solid #e3e9f6;
      border-radius: 6px;
      text-align: center;
      line-height: 2;
  }
}

.hovered {
  background-color: rgba(8, 31, 73, 0.1);
}

.ant{
  &-input{
    &-wrapper {
      display: flex;
      flex-direction: column;
      & > input {
        border: none !important;
        border-radius: 12px !important;
      }
    }
    &-group{
      &-addon{
        margin-bottom: 5px;
        border: none !important;
      }
    }
  }
}