.droparea{
  &__item{
    position: relative;
    width: auto;
    min-height: 35px;
    background-color: white;
    border: 1px solid #e3e9f6;
    border-radius: 6px;
    text-align: center;
    line-height: 2;
    &:hover .droparea__clear{
      display: block;
    }
    & > .ant-picker {
      height: 35px;
      border: none;
    }
  }
  &__clear {
    display: none;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 10px !important;
    cursor: pointer;
  }
}

.hovered {
  background-color: rgba(8, 31, 73, 0.1);
}

.ant{
  &-input{
    &-wrapper {
      display: flex;
      flex-direction: column;
      & > input {
        padding: 4px !important;
        border: none !important;
        border-radius: 12px !important;
      }
    }
    &-group{
      &-addon{
        margin: 5px 0;
        padding: 0 5px !important;
        border: none !important;
        font-size: 10px !important;
      }
    }
  }
}