.App {
    display: flex;
}

.right {
    display: flex;
    flex-wrap: wrap;
    &__header{
        flex-basis: 100%;
    }
    &__button{
        &__container{
            position: relative;
        }
    }
}