.newFormula {
  &__fixed{
    position: fixed;
    top: 180px;
    &-outside{
      left: 1274px;
    }
  }
  &__notFixed {
    align-self: center;
    justify-self: start;
  }
  & > button {
    display: flex !important;
    align-items: center !important;
    height: 60px !important;
    line-height: 1.3 !important;
  }
}

.ant-btn.ant-btn-round.ant-btn-lg {
  padding: 7px;
}