.draggable {
  &__menu {
    gap: 16px;
    padding: 16px;
    border: 1px solid #e3e9f6;
    border-radius: 18px;
  }
}
  
.drop{
  &__header{
    width: 100%;
  }
}

.header__draggable__wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  &> h2{
    max-width: 600px;
  }
}